.home{
    background-image: url('../assets/background.png');
    height: 98vh;
    width: 100vw;
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding: 0 4.34%;
    box-sizing: border-box;
}

.headline{
    font-family: poppins;
    font-weight:900;
    font-size: 34px;
    color:white;
    text-align: left;
    line-height:44.2px;
    letter-spacing:-2px;
    margin-bottom:36px;
}

.sub-headline{
    font-family: muli;
    font-weight:600;
    font-size: 18px;
    color: white;
    text-align: left;
    line-height:23.2px;
    letter-spacing:-.2px;
}